<section>
    <div class=" justify-center bg-[#E5841C] items-center  py-6  ">
        <div class="mx-auto w-full max-w-[1400px] ">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-10">
                <!-- First Div -->
                <div class="flex flex-col justify-center w-[70%] sm:w-[50%] md:w-full lg:w-full  mx-auto">
                    <div class="mx-auto">
                        <h1 class="text-left mx-auto font-bold text-lg md:text-xl text-white mt-3 md:mt-5">
                            চাইল্ড মেসেজ
                        </h1>
                        <p class="text-white w-full md:w-[70%] mt-3 md:mt-5 text-sm leading-loose">
                            আপত্তিকর স্বত্ত্বাধীন পদোন্নতি বিধান এবং ওহ এটা নিজেদের সাথে পরামর্শ করা. আশীর্বাদ স্বাগত ভদ্রমহিলা সে দেখা হাস্যরস স্যার তার প্রজনন.
                        </p>

                        <ul class="flex  flex-row gap-5 mt-5">
                            <li class="bg-white p-3 rounded-full"> <a href="#"> <img src="./assets/fb.png" /></a> </li>
                            <li class="bg-white p-3 rounded-full"> <a href="#"> <img src="./assets/twitter.png" /></a> </li>
                            <li class="bg-white p-3 rounded-full"> <a href="#"> <img src="./assets/instagram.png" /></a> </li>
                            <li class="bg-white p-3 rounded-full"> <a href="#"> <img src="./assets/youtube.png" /></a> </li>
                          </ul>
                    </div>

                    
                </div>
                
                

                <!-- Second Div -->
                <div class="flex flex-col justify-center  mx-auto">
                    <p class="text-white mb-3 md:mb-5">দ্রুত লিঙ্ক</p>
                    <ul class="space-y-2 md:space-y-4 text-white">
                        <li><a href="#" class="hover:text-gray-400"> > মহিলা ও শিশু বিষয়ক মন্ত্রণালয়</a></li>
                        <li><a href="#" class="hover:text-gray-400"> > প্রধান উপদেষ্টার কার্যালয় </a></li>
                        <li><a href="#" class="hover:text-gray-400"> > ইউনিসেফ</a></li>
                    </ul>
                </div>

                <!-- Third Div -->
                <div class="flex justify-center md:justify-start lg:justify-end">
                    <ul class="space-y-2 md:space-y-4 text-white mt-3 md:mt-10">
                        <li><a href="#" class="hover:text-gray-400"> > তথ্য ও যোগাযোগ বিষয় মন্ত্রণালয়</a></li>
                        <li><a href="#" class="hover:text-gray-400"> > প্রধান উপদেষ্টার কার্যালয় </a></li>
                        <li><a href="speech.html" class="hover:text-gray-400"> > অর্জন</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="mt-5" />
        <div class="grid grid-cols-12  mx-auto">
            <div class="col-span-1">
                <!-- <p class="text-white font-medium text-center mt-5 mx-auto">© 2023 All rights reserved</p> -->
            </div>
            <div class="mx-auto col-span-10">

                <p class="text-white font-medium text-center mt-5 mx-auto">© 2023 All rights reserved</p>
            </div>
            <div class="mx-auto col-span-1">
                <a href="https://www.google.com" target="_blank">   <img src="./assets/l2.png" al="logo" class="w-16 h-15" /></a>
            
            </div>

        </div>
    </div>



</section>